
// It does load the Google font. But there is a flash second when the default font is visible. Is there a way to prefetch the font so that the screen doesn't flicker? – Arunster Aug 13 '20 at 2:45
// This is because of the display: swap. You can change the behavior but this is a way to avoid the render-block. The font is already downloaded but the CSS needs to be parsed either way and the display: swap loads don't block the CSS rendering and when the font is parsed, it swaps. Try display: block if you want to avoid the flicker. – Ferran Buireu Aug 13 '20 at 4:57


@import '../../_variables';
@import '../../_fonts';
@import '../../_mixins';


.campsiteWrapper {
    // border: 5px solid rgb(241, 228, 33);    
    font-family: primaryFont;
    letter-spacing: 2px;    
    display: flex;
    flex-direction: column;  
    overflow: hidden;
    position: relative;    
    width: 100%;
    height: 100%;
}

.campsiteSvg {
    //border: 1px solid green;
    width: 100%;
    height: auto;    
}

.heroTextWrapper {
    position: absolute;
    top: 0;
    right: 3%;
    width: 75%;
    //height: calculated in js
    max-height: 70%;
    //border: 3px solid rgb(23, 160, 5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

[name = "text_1"], 
[name = "text_2"], 
[name = "text_3"], 
[name = "text_4"] {
    background-color: rgba(0, 0, 0, 0.6);    
    padding: 1vw 4vw;
    border-radius: 10px;
    opacity: 0; //will animate in on component mount
}

[name = "text_1"] {
    //konwersacje      
    font-size: 10vmin;
    color: $orange;
}

[name = "text_2"] {
    //język angielski   
    font-size: 5vmin;
    color: $yellow;    
}

[name = "text_3"] {
    //dwujęzyczny tłumacz konferencyjny
    font-size: 4vw;
    color: $darkYellow;    
}

[name = "text_4"] {
    //20 lat doświadczenia
    font-size: 4vw;
    color: $green;    
}


.menuItems {
    //border: 1px solid rebeccapurple;
    position: fixed;
    top: 10px;
    left: 40px;
    width: 10%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    // overflow: hidden;
    @media (max-width: 640px) {
        transform: scaleX(0.9) translate(-40px, -10px);
    }
}

.menuItem {
    cursor: pointer;
    background-color: transparent;
    position: relative; //for the menuItemText inside
    //border: 1px solid blue;
    transition: transform 0.75s;
    &:hover {
        transform: translateY(-3px);
    }  
}

.menuCloseBtn {
    position: absolute;
    right: -50%;
    top: 20px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;    
    @include closeBtn;     
}

.board {
    // border: 1px solid red;
    width: 100%;
    height: auto;
    margin-top: -20px;    
}

.menuItemText {
    // border: 1px solid yellow;
    font-weight: bold;
    font-size: 13px;
    color: wheat;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-55%);
    padding: 10px 5px;
    &:hover {
        color: black;        
    }
    // border: 1px solid yellow;
    @media (min-width: map-get($breakpoints, medium)) {
        font-size: 20px;
        bottom: 16%;
    }    
}



.active {
    color: black;
}

.face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 40vw;
    max-width: 250px;
    max-height: 115px;
    //border: 1px solid red;    
    background-image: url('../../images/BartoszNowicki.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    transition: transform 1s;
    &:hover {
        transform: scale(1.5);
    }    
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        //border: 1px solid red;
        background-color:  rgba(0, 0, 0, 0.4);
        border-top-right-radius: 50%;
    }

}