$primary-font: 'Stint Ultra Condensed', sans-serif;

$secondary-font: 'Roboto Condensed', sans-serif;

$smoke: whitesmoke;

$orange: #ff552b;

$yellow: rgb(234, 245, 77);

$green: #9ae620;

$black: gray;


// $breakpoints: (
//   xs: 360px,
//   sm: 640px,
//   md: 800px,
//   lg: 1280px,
// )
