@import '_reset';
@import '_variables';
@import '_mixins';

html {
    user-select: none;
}

.mainWrapper {
    //border: 1px solid red;
    height: 700vh;
    //includes all but the footer
}

.pageSection {
    border: 1px solid rgb(46, 73, 3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;    
}

.pageSectionTitle {
    font-family: $primary-font;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: bold;
    align-self: center;
    margin: 1vw;
    &[name="text_5"] {
        color: #FEC303;
        z-index: 1;
    }
    @media (min-width: 800px) {
      font-size: 4vw;
      margin: 2vw;
    }
}

.mainTextWrapper {
    position: relative; //just added this to align get ya talking test, see if it breaks anything
    //border: 5px solid rgb(103, 5, 160);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 3vw;
    & p + p {
        //color: red;
        letter-spacing: normal;
        @include paragraphStyle;        
    }
    @media (min-width: 800px) {
      padding: 4vw;
    }  
}

.texter {
    display: flex;
    flex-direction: column;    
    border: 0px solid red;
    border-radius: 10px;
    background-color: black;
    padding: 2vw;
}
