@import '_reset';
@import '_variables';

.mainWrapper {
    border: 1px solid red;
    height: 700vh;
}

.pageSection {
    border: 5px solid rgb(54, 73, 3);
    height: 100vh;
}

.pageSectionTitle {
    color: red;
}

// [name = 'text_1'] {
//     color: red;
// }