//@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face {
    font-family: 'primaryFont';
    src: url('../../fonts/StintUltraCondensed-Regular.ttf'); 
}

@font-face {
  font-family: 'secondaryFont';
  src: url('../../fonts/RobotoCondensed-Regular.ttf');
}