
$smoke: whitesmoke;

$darkSmoke: rgb(214, 214, 214);

$orange: #ff552b;

$yellow: rgb(234, 245, 77);

$darkYellow: #FEC303;

$orangeLight: #F7941D;

$green: #9ae620;

$black: #1D1D1D;
$section1BackgroundColor: $black;
$section3BackgroundColor: $black;

$section5BackgroundColor: $black;
$section6BackgroundColor: $black;
$section7BackgroundColor: $black;

$light: #dbdbdb;
$section2BackgroundColor: $light;
$section4BackgroundColor: $light;
$section7BackgroundColor: $light;


$breakpoints: (
  small : 640px,
  medium: 800px,
  large : 1200px,  
);



