
@import '_variables';

$breakpoints: (
  small : 640px,
  medium: 800px,
  large : 1200px,  
);

:export {
  scssPrimaryFont: $primary-font;
  scssSecondaryFont: $secondary-font;
  scssSmoke: $smoke;
  scssOrange: $orange;
  scssYellow: $yellow;
  scssGreen: $green;
  scssBlack: $black;
  scssDark: $dark;
}