
@import '_variables';

@font-face {
    font-family: 'exportedPrimaryFont';
    src: url('./fonts/StintUltraCondensed-Regular.ttf'); 
}

@font-face {
  font-family: 'exportedSecondaryFont';
  src: url('./fonts/RobotoCondensed-Regular.ttf');
}

$breakpoints: (
  small : 640px,
  medium: 800px,
  large : 1200px,  
);

:export {
  
  scssPrimaryFont: exportedPrimaryFont;
  scssSecondaryFont: exportedSecondaryFont;
  scssSmoke: $smoke;
  scssOrange: $orange;
  scssOrangeLight: $orangeLight;  
  scssYellow: $yellow;
  scssDarkYellow: $darkYellow;
  scssGreen: $green;
  scssBlack: $black;
  scssLight: $light;

  section1BackgroundColor: $section1BackgroundColor;
  section2BackgroundColor: $section2BackgroundColor;
  section3BackgroundColor: $section3BackgroundColor;
  section4BackgroundColor: $section4BackgroundColor;
  section5BackgroundColor: $section5BackgroundColor;
  section6BackgroundColor: $section6BackgroundColor;
  section7BackgroundColor: $section7BackgroundColor;

  standardFontSize: $standardFontSize;
}